.MBTitle{
    display: block;
    font-size: 1.3vw;
    font-weight: 600;
    color: #FFFBFF;;
    width: calc(100% - 1vw);
    margin-left: 1vw;
}

.MBContent{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFBFF;;
    width: calc(100% - 2vw);
    padding: 1vw;
    padding-top: 1.8vw;
    padding-bottom: 1.5vw;
    height: max-content;
    font-size: 1.1vw;
    font-weight: 600;
}
.MBContent::before{
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #FAF1F1;
    opacity: 0.5;
}
.MBC{
    display: block;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.button{
    background-color: black;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.18vw;
    font-weight: 700;
    padding: 0.8vw 1.6vw;
    cursor: pointer;
}

.inputBlock{
    width: 10vw;
    background-color: #D1D3E8;
    border-radius: 0.5vw;
    color: #642F8E;
    font-size: 1.3vw;
    font-weight: 700;
    padding: 0.6vw 1vw;
    border: none;
}

@media screen and (max-width:821px){
    .MBTitle{
        display: block;
        font-size: 4vw;
        font-weight: 600;
        color: #FFFBFF;;
        width: calc(100% - 1vw);
        margin-left: 1vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .MBContent{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #FFFBFF;;
        width: calc(100% - 2vw);
        padding: 1vw;
        padding-top: 3.5vw !important;
        padding-bottom: 3.5vw !important;
        height: max-content;
        font-size: 4vw;
        font-weight: 600;
    }
    .MBContent::before{
        display: block;
        content: "";
        position: absolute;
        top: 0px;
        left: 1%;
        width: 98%;
        height: 2px;
        background-color: #FAF1F1;
        opacity: 0.3;
    }
    .MBC{
        display: block;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .button{
        background-color: black;
        border-radius: 2vw;
        color: white;
        font-size: 4vw;
        font-weight: 700;
        padding: 3.5vw 6vw !important;
        cursor: pointer;
    }

    .inputBlock{
        width: 33vw;
        background-color: #D1D3E8;
        border-radius: 1.5vw;
        color: #642F8E;
        font-size: 4vw;
        font-weight: 700;
        padding: 2vw 2.5vw;
    }
}