.navbarC{
    display: inline-block;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 13px 24px;
    background: #794DFD;
    border-radius: 20px;
    color: white;
    margin: 0.5vw;
    font:{
        size: 2vmin;
        family: "Inter";
        weight: 500;
    }
}