// Body
$body-bg: #000000;

html{
    height: 100%;
    width: 100%;
    position: relative;
}

body{
    position: absolute !important;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #1E1E1E;;
    position: relative;
    font-family: "Inter";
}

.visible{
    opacity: 1 !important;
    visibility: visible !important;
}
.hidden{
    opacity: 0 !important;
    visibility: hidden !important;
}

.spin180{
    transform: rotateX(180deg) !important;
}
// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url("/css/fonts/Inter.ttf") format("truetype");
}