html {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #1E1E1E;
  position: relative;
  font-family: "Inter";
  letter-spacing: 1px;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.spin180 {
  transform: rotateX(180deg) !important;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/css/fonts/Inter.ttf") format("truetype");
}
.navbarC {
  display: inline-block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1vw 1.8vw;
  background: #794DFD;
  border-radius: 1.2vw;
  color: white;
  margin: 0.5vw;
  font-size: 0.9vw;
  font-weight: 300;
  cursor: pointer;
}

.MBTitle {
  display: block;
  font-size: 1.3vw;
  font-weight: 600;
  color: #FFFBFF;
  width: calc(100% - 1vw);
  margin-left: 1vw;
}

.MBContent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFBFF;
  width: calc(100% - 2vw);
  padding: 1vw;
  padding-top: 1.8vw;
  padding-bottom: 1.5vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.1vw;
  font-weight: 600;
}

.MBContent::before {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #FAF1F1;
  opacity: 0.5;
}

.MBC {
  display: block;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.button {
  background-color: black;
  border-radius: 0.5vw;
  color: white;
  font-size: 1.18vw;
  font-weight: 700;
  padding: 0.8vw 1.6vw;
  cursor: pointer;
}

.inputBlock {
  width: 10vw;
  background-color: #D1D3E8;
  border-radius: 0.5vw;
  color: #642F8E;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 0.6vw 1vw;
}
