@import url(https://fonts.googleapis.com/css?family=Nunito);
html {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  position: relative;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/css/fonts/Inter.ttf") format("truetype");
}
.navbarC {
  display: inline-block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 13px 24px;
  background: #794DFD;
  border-radius: 20px;
  color: white;
  margin: 0.5vw;
  font-size: 2vmin;
  font-family: "Inter";
  font-weight: 500;
}
